<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Movie Mania</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>

        <nav class="navbar">
            <a href="/register" class="navbutton active">Register</a>
        </nav>

        <header>
            <h1>Welcome to Movie Mania</h1>
            <p>Your personal movie tracking companion</p>
        </header>


    </body>
</html>
